html {
    background-color: #0F0F0F;
}

* {
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.page {
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-rows: 114px;
    grid-auto-rows: 114px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 82px));
    gap: 24px;

    justify-items: center;
    align-items: center;

    margin: 12px 0px;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.button-title {
    text-align: center;
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #CCCCCC;
}

.link {
    color: #0EC9E6;
    font-size: 12px;
    font-weight: 600;
}

.link:visited {
    color: #0EC9E6;
}

.object-button-container {
    width: fit-content;
    position: relative;
}

.object-button {
    display: flex;

    background-color: #1C1C1C;
    width: 82px;
    height: 82px;
    border-radius: 8px;
    border: #343434 solid 3px;
    aspect-ratio:  1 / 1;

    align-items: center;
    justify-content: center;

    font-size: 36px;

    text-decoration: none;
}

.object-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000007b;
    width: 100%;
    border-radius: 8px;
    border: none;
    aspect-ratio:  1 / 1;
    z-index: 10;
}

.object-button.active::after {
    background-color: #00000000;
}

.data-label {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.data-label > span {
    color: white;
    font-weight: 700;
    font-size: 12px;
}
